body{
    padding: 0px;
    margin: 0px;
    /*background-color: black;*/
    font-family:"微软雅黑";
    /*height: 1000px;*/
}
*{margin:0;padding:0;}
/*html, body{height:100%;}*/

.imagenav{
    width: 100%;
    height: 250px;
    background-position:50% 0%;
    background: url("../images/headbanner.jpg");
    background-size: contain;
    background-attachment:fixed;
    z-index: -1;//===================================层级标签
}

.nav:before,.nav:after{
    content: "";
    display: table;
    clear: both;
}
.nav{
    width: 100%;
    /*height: 50px;*/
    /*background-color:rgba(181, 233, 181, 0.87);*/
    float: left;
    height: 50px;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    z-index: 3;/*===================================层级标签*/
    /*display: flex;*/
    background-color: rgba(50,50,50,1);
}

.nav>div[class^="eights"]{
    /*flex: 1 1 100px;*/
    width: 6.5%;
    /*background-color: rgba(217, 145, 233, 0.87);*/
    background-color: rgba(50,50,50,0.9);
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    float: left;
    line-height: 50px;
    margin-right: 0.6%;

}


.nav>div[class^="eights"]:hover{
    color: rgba(132,132,132,0.9);
}


.nav>div:nth-of-type(1){
    /*flex: 2.5 1 250px;*/
    width: 250px;
    /*background-color: rgba(119, 208, 233, 0.87);*/
    height: 50px;
    float: left;
    background-color: rgba(50,50,50,0.9);
    /*margin-right: 2%;*/
}
.nav>div:nth-of-type(1) img{
    margin-left: 20%;
}

.nav>div:nth-of-type(9){
    /*flex: 4.16 1 416px;*/
    width: 28%;
    /*background-color: blue;*/
    background-color: rgba(50,50,50,0.9);
    position: relative;
    line-height: 50px;
    color: white;
    margin-left: 72%;
    height: 50px;

}
.nav>div:nth-of-type(9) #search{
    right: 48%;
    /*width: 58%;*/
    /*width: 220px;*/
    width: 0px;
    line-height: 35px;
    position: absolute;
    top: 7px;
    background-color: rgba(50,50,50,0.9);
    border: none;
    /*visibility: hidden;*/
    border-radius: 4px;
    z-index: 1;
}
#search span{
    /*float: right;*/
    margin-left: 80%;
    transition: all 0.2s linear;
    cursor: pointer;
    z-index: 100;
    color: rgba(127,127,127,0.9)
}

.nav>div:nth-of-type(9) #search span:hover{
    color: rgba(132,132,132,1);
}

#search .searchInput{
    width: 0px;
    position: absolute;
    top: 0px;
    left: 78%;
    height: 35px;
    transition: all 0.2s linear;
    visibility: hidden;
    color: black;


}

.nav>div:nth-of-type(9) .logandreg{
    float: left;
    width: 116px;
    line-height: 50px;
    /*background-color: rgba(233, 109, 222, 0.87);*/
    position: absolute;
    top: 7px;
    right: 4%;
    border-radius: 4px;

}

.nav>div:nth-of-type(9) .logandreg>div{
    float: left;
    width: 57px;
    line-height: 35px;
    text-align: center;
    margin-right: 1px;
    background-color: rgba(91,91,91,0.9);
    /*background-color: red;*/
    border-radius: 4px;
    cursor: pointer;
}

.nav>div:nth-of-type(9) .logandreg>div:hover{
    color: rgba(132,132,132,0.9);
}

#more{
    height: 50px;
    /*height: 120px;*/
    width: 100px;
    overflow: hidden;

}
#more:hover{
    height: 120px;
    transition: height 0.2s linear;

}

#submenu li{
    line-height: 35px;
    list-style-type: none;

}
#submenu li:hover{
    background-color: rgba(71,71,71,0.9);
    color: #00c3f4;
}





.centerimg{
    position: fixed;
    top: 30px;
    width: 200px;
    /*height: 70px;*/
    /*background-color: blue;*/
    margin: 50px auto;
    z-index: 0;
    left: 600px;
}

.centerimg img{
    display: block;
    width: 80px;
    margin: 0px auto;
}

.centerimg p{
    font-size:14px;
    color: white;
    margin: 5px auto;
    text-align: center;
    opacity: 0.8;
}

.logreg{
    position: fixed;
    width: 400px;
    /*height: 500px;*//*临时去掉高度，到时候好动态显示*/
    /*background-color: white;*/
    left: 500px;
    /*top: 100px;这是正常显示位置的值*/
    top: -1000px;
    overflow:hidden;
    /*border: 1px solid black;*/
    z-index: 30;
    -webkit-transition: all 0.5s linear;

}

.login, .regin{
    position: absolute;
    width: 400px;
    /*height: 450px;*/
    font-size:12px;
    /*border: 1px solid black;*/
    z-index: 20;
    background-color: white;
}

.regin{
    /*display: none;*/
    z-index: 21;
    display: none;
}
.login{
    display: none;
}

.closebtn{
    position: relative;
    margin-left: 270px;
    color: white;
    background-color:#444;
    text-align:center;
    font-size:15px;
    width: 50px;
    height: 55px;
    border-radius: 0 0 50px 50px;

}

.closebtn span{
    line-height: 50px;
    -webkit-transition:all 0.3s linear;
    -webkit-transform-style: preserve-3d;
    cursor: pointer;
}
.closebtn span:hover{
    color: #ffab99;
    -webkit-transform:rotateY(180deg);
    cursor: pointer;
}

.login-regin-switch{
    position: relative;
    left: 47px;
    width: 70px;
    line-height: 30px;
    /*background-color: red;*/
    text-align: center;
    color:#999;
    cursor: pointer;
}
.login-regin-switch span{
    color: #ea4c89;
    cursor: pointer;
}
.login-regin-switch label{
    color: #ea4c89;
    cursor: pointer;
}

.login h1, .regin h1{
    font-size:18px;
    font-weight:normal;
    margin-left: 50px;
}

.signform{
    width:400px;
    color:#ea4c89;
    /*background-color: yellow;*/
    position: relative;
    z-index: 20;

}
.signform span:nth-of-type(1){
    position: relative;
    font-size:20px;
    top:5px;
    left:320px;
    z-index: 20;
    /*display: inline;*/

}
.signform span:nth-of-type(2){
    position: relative;
    font-size:20px;
    top:60px;
    left:-35px;
    z-index: 20;

}

.signform input[type="text"], .signform input[type="password"]{

    width:300px;
    height:40px;
    z-index: 20;
}
.signform input[type="text"]{
    margin-left: 30px;
    margin-top: 5px;

}
.signform input[type="password"]{
    margin-left: 49px;
    margin-top: 10px;
}

.checkboxa{
    position: relative;
    width: 300px;
    line-height: 40px;
    /*background-color: #6bff7d;*/
    margin-left: 50px;
    margin-top: 5px;
}
.checkboxa input{
    position: relative;
    top: 2px;
}
.checkboxa a{
    position: relative;
    left: 140px;
    text-decoration: none;
    color:#ea4c89;
}
.signform input[type="button"]{
    width: 300px;
    height: 40px;
    margin-left: 50px;
    font-family:"微软雅黑";
    outline:0px;
    font-size:15px;
    background-color:#00c3b6;
    border:0px;
    color:white;
    cursor:pointer;
}
.signform input[type="button"]:hover{
    background-color: #1c8bff;
}

hr{
    margin-top: 30px;
}
.qqlogin{
    height: 80px;
    width: 300px;
    /*background-color: #97ff85;*/
    text-align: center;
    margin: 10px auto;
    margin-top: 30px;
    overflow: hidden;

}
.qqlogin p{
    font-family:"微软雅黑";
    color:#333;
}
.qqlogin div{
    width: 100px;
    height: 25px;
    background-color: #4e93ff;
    margin: 0px auto;
    padding-top: 8px;
    text-align: center;
    cursor:pointer;
    margin-top: 20px;
}

#reguseraddr{
    position: relative;
    left: 19px;
    top: 3px;
}
#envelope{
    position: relative;
    left: -40px;
    top:55px;
    z-index: 21;
}
#lockone, #locktwo{
    position: relative;
    font-size:20px;
    top: 50px;

}
#lockone{
    left: -17px;
    top: 60px;
}
#locktwo{
    left: -37px;
    top: 60px;
}
.signform1 input[type="button"]{
    position: relative;
    top:20px;
}
.qqlogin1{
    /*background-color: red;*/
    margin-top: 15px;
}
.qqlogin1 p{
    position: relative;
    top: 20px;
}
.qqlogin1 div{
    position: relative;
    top: 15px;
}

hr{
    position: relative;
    top: 10px;
}

#cover{
    position:fixed;
    -webkit-transition:all 0.2s linear;
    top: 0px;
    left: 0px;
    /*width: 100%;
    height:2796px;
    background-color: #ba7e70;
    top: 0px;
    left: 0px;
    z-index: 29;*/
}

#backtotop{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.7);
    bottom: 50px;
    right: 10px;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
    display: none;
    z-index: 100;
}
#backtotop:hover{
    background-color: #00c3b6;
}

#backtotop span{
    cursor:pointer;
    line-height:40px;
    font-size:20px;
    color:#ccc;
    text-align: center;
}


/*装载中间内容和页头的那个大的div*/
/*.topAndContent{
    width: 100%;
    !*border: 1px solid red;*!
    min-height:100%;!*这是做的不同浏览器的兼容性，都是表示最小高度，只是写法不同而已
    当div内的内容不够最小高度高的时候，就以最小高度显示div，不够的内容空白补上，超出的内容
    将它撑开，而最大高度刚好相反，超出部分内容被截掉，内容不够高度的时候，就iv就只有内容的高度*!
    _height: 100%;

    !*position: absolute;
    top: 50px;*!
    !*bottom: -400px;*!
    !*height: 100%;*!
    !*background-color: #ba57af;*!
    margin-bottom: -250px;

}*/


.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/*中间内容部分*/
#content{
    width: 100%;
    /*min-height: 100%;
    _height: 100%;*/
    /*height: 700px;*/
    /*height: 50%;*/
    /*background-color: rgba(230, 100, 126, 0.29);*/
    /*height: 360px;*/
    background-color: rgba(241,241,241,1);
    /*height: 300px;*/
    /*background-color: red;*/
    margin-top: 50px;
    /*position: relative;*/
    /*height: 230px;*/

}


/*这是装载上面三个下拉框的最大div*/
#threeNav{
    width: 93%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgba(97, 98, 95, 0.2);
    /*background-color: blue;*/
    padding-bottom: 10px;
    margin: 0px auto;
    padding-top: 10px;
    height: 70px;

    /*overflow: hidden;*/

}
#threeNav ul{
    width: 120px;
    /* height: 210px;*/
    height: 50px;/*正常值*/
    /*background-color: #00A398;*/
    flex:0 0 120px;/*这里设置的放大和缩小比都为0，即不管是放大还是缩小，其大小都不变*/
    margin-right: 50px;
    /*float: left;这里之所以不用浮动，是因为浮动会导致浏览器缩小时，排版会乱*/
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;

}
#threeNav ul:hover{
    background-color: rgba(255, 255, 255, 0.9);
    height: 210px;
    overflow: visible;
    transition: all 0.2s linear;
    z-index: 1000;
    /*设置当鼠标移动到ul上的时候，就旋转180度下拉图标*/

}
#threeNav ul:nth-of-type(2):hover,#threeNav ul:nth-of-type(3):hover{
    height: 180px;
}

#threeNav ul li:hover:not(.LisOne){
    vertical-align: middle;
    line-height: 40px;
    background-color: rgba(0,195,182,0.8);
}

.ThreeUl:hover .LisOne span:nth-of-type(2){/*这里用到了当鼠标移动到一个元素上时，改变另一个元素的手法，
但是，要改变的元素要么是他的子元素，要么是他的亲兄弟元素*/
    transform: rotate(-180deg);
    transition: all 0.2s linear;
    top:5px;
}


#threeNav ul li{
    list-style-type: none;
    text-align: center;
    margin-top: 15px;
    /*vertical-align: middle;*/
    cursor: pointer;
    position: relative;
}

.LisOne span:nth-of-type(1){
    position: absolute;
    top: 3px;
    left: 10px;
}
.LisOne span:nth-of-type(2){
    position: absolute;
    top: 0px;
    right: 10px;
}

.containers{
    padding: 10px;
    /*background-color: rgba(115, 251, 115, 0.98);*/
}

.containers .row{
    padding: 0 50px;
    text-align: center;
   /* background-color: rgba(149, 228, 251, 0.98)*/

}
.containers .row>div{
    padding: 10px;
}

.captions>span:nth-of-type(1){
    float: left;

}
.captions>span:nth-of-type(2),.captions>span:nth-of-type(3){
    float: right;

}

.imgdiv1{
    position: relative;
    width: 280px;
    height: 180px;
    overflow: hidden;
}


.uptodown1{
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(34,34,34,0.98);
    transition: height 0.2s linear;
    opacity: 0;
    margin-top: 0px;
    z-index: 100;
    color: whitesmoke;

}
.one{
    cursor: pointer;
}

.one:hover .uptodown1{
    /*background-color: yellow;*/
    height: 30px;
    opacity: 1;
}
.one .imgdiv1 img{
    transition: all 0.2s linear;
}
.one:hover .imgdiv1 img{
    /*background-color: yellow;*/
    filter:brightness(.5);
    -webkit-filter:brightness(.5);
    -moz-filter:brightness(.5);
    -o-filter:brightness(.5);
    /*margin-top: 5px;*/
    transform:translateY(5px);
}



.uptodown1>span:nth-of-type(1),.uptodown1>span:nth-of-type(2){
    margin-top: 6px;

}
.uptodown1>span:nth-of-type(1){
    /*background-color: rgba(44, 80, 251, 0.98);*/
    margin-left: 0px;
    /*margin-left: -20px;
    margin-right: 130px;*/
}
.uptodown1>span:nth-of-type(2){
    margin-left: 150px;
    /*background-color: rgba(251, 102, 160, 0.98);*/

}






.gotoPages{
    position: relative;
    width: 100%;
    height: 50px;
    /*background-color: rgba(92, 233, 101, 0.87);*/
    /*margin: 0 auto;*/
    /*margin-top: 20px;*/
    margin: 20px auto;
}

.numbers{
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    float: left;
    background-color: rgba(255,255,255,1);
    margin: 5px auto;
    text-align: center;
    margin-right: 1%;
    cursor: pointer;
}
#numbers1{
    margin-left: 30%;
}


.gotoPages>div:nth-of-type(1){
    /*margin-left: 5%;*/
    background-color: rgba(0,195,182,1);

}

.gotoPages>div:nth-of-type(2):hover,.gotoPages>div:nth-of-type(4):hover,.gotoPages>div:nth-of-type(5):hover{
    background-color: rgba(0,195,182,1);

}

.gotoPages>div:nth-of-type(6){
    font-size: 10px;
    border: none;
    /*background-color: rgba(112,229,115,1);*/

}

.enternumber{
    width: 90px;
    height: 40px;
    background-color: rgba(0,195,182,1);
    float: left;
    margin: 5px auto;
    /*border: 1px solid rgba(0,195,182,1);*/
    border-radius: 4px;
}
.enternumber input{
    width: 50px;
    line-height: 40px;
    outline: none;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.enternumber div{
    border-radius: 4px;
    width: 40px;
    border: none;
    float: right;
    line-height: 40px;
    text-align: center;

}







#bars{
    position: absolute;
    top: 15px;
    left: 3%;
    color: white;
    visibility: hidden;
    cursor: pointer;
}

#close{
    position: absolute;
    top: 15px;
    left: 3%;
    color: white;
    visibility: hidden;
    cursor: pointer;
}

#jueweilogo{
    position: absolute;
    visibility: hidden;
    left: 47%;
    cursor: pointer;
}

#users{
    position: absolute;
    top: 15px;
    right:3%;
    color: white;
    z-index: 100;
    visibility: hidden;
    cursor: pointer;

}



@media (min-width: 1000px) {/*当大于1000px的时候，就不换行*/
    #bottomContenTwo{
        flex-flow: row nowrap;
    }

}

@media (max-width: 1000px) {/*当小于1000px的时候，就换行*/
    #bottomContenTwo{
        flex-flow: row wrap;
    }
    #bottomContenTwo li:nth-of-type(1){
        width: 100%;
    }
    #bottomContenTwo li:nth-of-type(2){
        width: 100%;
        margin-left: -20px;
        /*height: 400px;*/
    }
    .rightContent{
        width: 98%;
    }


    /*媒体查询，判断导航栏排版*/
    .eights,.logandreg{
        opacity: 0;
        visibility: hidden;
        background-color: rgba(133,133,133,0.8);

    }
    #search{
        opacity: 0;
        visibility: hidden;
    }
    .nav{
        background-color: rgba(3,3,3,0.8);
    }

    #bars,#jueweilogo,#users{
        visibility: visible;
    }

    #footer{
        width: 100%;
        /*height: 300px;*/
        height: 250px;
        background-color: rgba(34,34,34,1);
        overflow: hidden;
        position: relative;
    }
    /*.footer-left,.footer-col{
        opacity: 0;
        visibility: hidden;
    }
    .footercopyright p{
        position: absolute;
        !*margin-top: -32%;*!

    }*/

}

@media (max-width: 768px){

    .gotoPages{
        visibility: hidden;
        opacity: 0;
    }
    .uptodown1{
        opacity: 0;
        visibility: hidden;
    }

}



/*当屏幕缩小到620的时候，就要左边那个内容换行*/
@media (max-width: 620px){
    .leftContenBox{
        flex-flow: row wrap;

    }
    .leftContenBox>img,.leftContenBox>div{
        width: 100%;
        display: block;
        height: 180px;

    }
    .leftContenBox>div{
        display: block;
        /*background-color: red;*/
        width: 100%;
        position: relative;

    }
    .leftContent>div {
        position: relative;
        margin-bottom: 140px;
    }
    .leftContent:before,.leftContent:after{
        content:"";
        display: table;
        clear: both;
    }


}




/**页脚部分Footer*/
.footer{
    width:100%;
    height:250px;
    /*height: 30%;*/
    background-color:#222;
    color:#666;
    font-size:12px;
    /*position: relative;
    top: 0px;*/

}

.footer-left{
    width:30%;
    margin-left:5%;
    margin-right:5%;
    float:left;
    margin-top: 3%;
    /*background-color: rgba(85, 233, 78, 0.87);*/
}

.footer-left p{

    line-height:20px;
    letter-spacing:1px;
}

.footer-col{
    float:left;
    margin-right:5%;
    margin-top: 3%;
}

.footer-left h5,.footer-col h5{
    color:#ccc;
    font-size:15px;
    font-weight:normal;
    margin-bottom:3%;
}

.footer-col ul{
    margin:0px;
    padding:0px;
}

.footer-col ul li{
    height:25px;
    list-style:none;
    cursor:pointer;
}

.footer-col ul li:hover{
    text-decoration:underline;
    color:#ddd;
}

.footercopyright{
    width:90%;
    height:15%;
    float:left;
    border-top:1px solid rgba(255,255,2555,.065);
    /*overflow: visible;*/
    /*background-color: yellowgreen;*/
    margin-left: 5%;
    margin-top: 1.5%;
}

.footercopyright p{
    margin-bottom: 1%;
}

.footer-col ul li input[type="text"]{
    width:68%;
    height:26px;
    background-color:#222;
    border:1px solid #333;
    outline:0px;
    color:#666;
    margin-right:1%;
}

.footer-col ul li input[type="button"]{
    width:48px;
    height:30px;
    line-height:30px;
    background-color:#00c3b6;
    color:#ccc;
    border-radius:3px;
    border:0px;
    outline:0px;
    cursor:pointer;
}

.footer-col ul li input[type="button"]:hover{
    text-decoration:none;
    color:white;
}

.footer-share{
    margin-top:20px;
}

.footer-share>span{
    display:inline-block;
    margin-right:3%;
    width:30px;
    height:30px;
    border-radius:3px;
    background-color:#1b1b1b;
    line-height:30px;
    text-align:center;
    font-size:15px;
    color:rgba(255,255,255,0.7);
    cursor:pointer;
    -webkit-transition:all 0.2s ease-in;
}

.footer-share span:nth-child(1):hover{
    background-color:#79ac21;
}

.footer-share span:nth-child(2):hover{
    background-color:#ff664e;
}

.footer-share span:nth-child(3):hover{
    background-color:#e05fef;
}

.footer-share span:nth-child(4):hover{
    background-color:#00c3f4;
}

.footer-share span:nth-child(5):hover{
    background-color:#f39c12;
}

#myname{
    float:right;
    margin-top:-20px;
    cursor:pointer;
    margin-right: 60px;
    -webkit-transition:all 0.8s linear;
}

#myname:hover{
    color:#ea4c89
}

#oye{
    position:relative;
    color:#333;
    font-weight:bold;
    left:83%;
    width:110px;
    height:20px;
    top:-55px;
    padding-left:10px;
    text-align:center;
    background-color:#ea4c89;
    border-radius:20px;
    opacity:0;
    -webkit-transition:all 0.5s ease-out;
    display: block;
}

#oye:after{
    content:"\25BC";
    position:relative;
    top: 12px;
    font-size:14px;
    color:#ea4c89;
    /*position: absolute;
    left: 95px;
    width:80px;
    height:80px;
    z-index: 50;*/
    /*content:"\25BC";
    position:relative;
    width: 400px;
    height: 300px;
    top:10px;
    font-size:14px;
    color:#ea4c89;*/
}

#myname:hover+#oye{
    opacity:1;
    z-index:10;
    width:100px;
    height:20px;
    line-height: 20px;
    /*background-color: yellow;*/
}













