body{
    padding: 0px;
    margin: 0px;
    /*background-color: black;*/
    font-family:"微软雅黑";
    /*height: 1000px;*/
    overflow-x:hidden;
}
*{margin:0;padding:0;}
/*html, body{height:100%;}*/

.imagenav{
    width: 100%;
    height: 250px;
    background-position:50% 0%;
    background: url("../images/headbanner.jpg");
    background-size: contain;
    background-attachment:fixed;
    z-index: -1;//===================================层级标签
}

.nav:before,.nav:after{
    content: "";
    display: table;
    clear: both;
}
.nav{
    width: 100%;
    /*height: 50px;*/
    /*background-color:rgba(181, 233, 181, 0.87);*/
    float: left;
    height: 50px;
    opacity: 0.6;
    position: fixed;
    top: 0px;
    z-index: 3;/*===================================层级标签*/
    /*display: flex;*/
    background-color: rgba(50,50,50,1);
}

.nav>div[class^="eights"]{
    /*flex: 1 1 100px;*/
    width: 6.5%;
    /*background-color: rgba(217, 145, 233, 0.87);*/
    background-color: rgba(50,50,50,0.9);
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    float: left;
    line-height: 50px;
    margin-right: 0.6%;

}


.nav>div[class^="eights"]:hover{
    color: rgba(132,132,132,0.9);
}


.nav>div:nth-of-type(1){
    /*flex: 2.5 1 250px;*/
    width: 250px;
    /*background-color: rgba(119, 208, 233, 0.87);*/
    height: 50px;
    float: left;
    background-color: rgba(50,50,50,0.9);
    /*margin-right: 2%;*/
}
.nav>div:nth-of-type(1) img{
    margin-left: 20%;
}

.nav>div:nth-of-type(9){
    /*flex: 4.16 1 416px;*/
    width: 28%;
    /*background-color: blue;*/
    background-color: rgba(50,50,50,0.9);
    position: relative;
    line-height: 50px;
    color: white;
    margin-left: 72%;
    height: 50px;

}
.nav>div:nth-of-type(9) #search{
    right: 48%;
    /*width: 58%;*/
    /*width: 220px;*/
    width: 0px;
    line-height: 35px;
    position: absolute;
    top: 7px;
    background-color: rgba(50,50,50,0.9);
    border: none;
    /*visibility: hidden;*/
    border-radius: 4px;
    z-index: 1;
}
#search span{
    /*float: right;*/
    margin-left: 80%;
    transition: all 0.2s linear;
    cursor: pointer;
    z-index: 100;
    color: rgba(127,127,127,0.9)
}

.nav>div:nth-of-type(9) #search span:hover{
    color: rgba(132,132,132,1);
}

#search .searchInput{
    width: 0px;
    position: absolute;
    top: 0px;
    left: 78%;
    height: 35px;
    transition: all 0.2s linear;
    visibility: hidden;
    color: black;
    /*background-color: red;*/

}

.nav>div:nth-of-type(9) .logandreg{
    float: left;
    width: 116px;
    line-height: 50px;
    /*background-color: rgba(233, 109, 222, 0.87);*/
    position: absolute;
    top: 7px;
    right: 4%;
    border-radius: 4px;

}

.nav>div:nth-of-type(9) .logandreg>div{
    float: left;
    width: 57px;
    line-height: 35px;
    text-align: center;
    margin-right: 1px;
    background-color: rgba(91,91,91,0.9);
    /*background-color: red;*/
    border-radius: 4px;
    cursor: pointer;
}

.nav>div:nth-of-type(9) .logandreg>div:hover{
    color: rgba(132,132,132,0.9);
}

#more{
    height: 50px;
    /*height: 120px;*/
    width: 100px;
    overflow: hidden;

}
#more:hover{
    height: 120px;
    transition: height 0.2s linear;

}

#submenu li{
    line-height: 35px;
    list-style-type: none;

}
#submenu li:hover{
    background-color: rgba(71,71,71,0.9);
    color: #00c3f4;
}





.centerimg{
    position: fixed;
    top: 30px;
    width: 200px;
    /*height: 70px;*/
    /*background-color: blue;*/
    margin: 50px auto;
    z-index: 0;
    left: 600px;
}

.centerimg img{
    display: block;
    width: 80px;
    margin: 0px auto;
}

.centerimg p{
    font-size:14px;
    color: white;
    margin: 5px auto;
    text-align: center;
    opacity: 0.8;
}

.logreg{
    position: fixed;
    width: 400px;
    /*height: 500px;*//*临时去掉高度，到时候好动态显示*/
    /*background-color: white;*/
    left: 500px;
    /*top: 100px;这是正常显示位置的值*/
    top: -1000px;
    overflow:hidden;
    /*border: 1px solid black;*/
    z-index: 30;
    -webkit-transition: all 0.5s linear;

}

.login, .regin{
    position: absolute;
    width: 400px;
    /*height: 450px;*/
    font-size:12px;
    /*border: 1px solid black;*/
    z-index: 20;
    background-color: white;
}

.regin{
    /*display: none;*/
    z-index: 21;
    display: none;
}
.login{
    display: none;
}

.closebtn{
    position: relative;
    margin-left: 270px;
    color: white;
    background-color:#444;
    text-align:center;
    font-size:15px;
    width: 50px;
    height: 55px;
    border-radius: 0 0 50px 50px;

}

.closebtn span{
    line-height: 50px;
    -webkit-transition:all 0.3s linear;
    -webkit-transform-style: preserve-3d;
    cursor: pointer;
}
.closebtn span:hover{
    color: #ffab99;
    -webkit-transform:rotateY(180deg);
    cursor: pointer;
}

.login-regin-switch{
    position: relative;
    left: 47px;
    width: 70px;
    line-height: 30px;
    /*background-color: red;*/
    text-align: center;
    color:#999;
    cursor: pointer;
}
.login-regin-switch span{
    color: #ea4c89;
    cursor: pointer;
}
.login-regin-switch label{
    color: #ea4c89;
    cursor: pointer;
}

.login h1, .regin h1{
    font-size:18px;
    font-weight:normal;
    margin-left: 50px;
}

.signform{
    width:400px;
    color:#ea4c89;
    /*background-color: yellow;*/
    position: relative;
    z-index: 20;

}
.signform span:nth-of-type(1){
    position: relative;
    font-size:20px;
    top:5px;
    left:320px;
    z-index: 20;
    /*display: inline;*/

}
.signform span:nth-of-type(2){
    position: relative;
    font-size:20px;
    top:60px;
    left:-35px;
    z-index: 20;

}

.signform input[type="text"], .signform input[type="password"]{

    width:300px;
    height:40px;
    z-index: 20;
}
.signform input[type="text"]{
    margin-left: 30px;
    margin-top: 5px;

}
.signform input[type="password"]{
    margin-left: 49px;
    margin-top: 10px;
}

.checkboxa{
    position: relative;
    width: 300px;
    line-height: 40px;
    /*background-color: #6bff7d;*/
    margin-left: 50px;
    margin-top: 5px;
}
.checkboxa input{
    position: relative;
    top: 2px;
}
.checkboxa a{
    position: relative;
    left: 140px;
    text-decoration: none;
    color:#ea4c89;
}
.signform input[type="button"]{
    width: 300px;
    height: 40px;
    margin-left: 50px;
    font-family:"微软雅黑";
    outline:0px;
    font-size:15px;
    background-color:#00c3b6;
    border:0px;
    color:white;
    cursor:pointer;
}
.signform input[type="button"]:hover{
    background-color: #1c8bff;
}

hr{
    margin-top: 30px;
}
.qqlogin{
    height: 80px;
    width: 300px;
    /*background-color: #97ff85;*/
    text-align: center;
    margin: 10px auto;
    margin-top: 30px;
    overflow: hidden;

}
.qqlogin p{
    font-family:"微软雅黑";
    color:#333;
}
.qqlogin div{
    width: 100px;
    height: 25px;
    background-color: #4e93ff;
    margin: 0px auto;
    padding-top: 8px;
    text-align: center;
    cursor:pointer;
    margin-top: 20px;
}

#reguseraddr{
    position: relative;
    left: 19px;
    top: 3px;
}
#envelope{
    position: relative;
    left: -40px;
    top:55px;
    z-index: 21;
}
#lockone, #locktwo{
    position: relative;
    font-size:20px;
    top: 50px;

}
#lockone{
    left: -17px;
    top: 60px;
}
#locktwo{
    left: -37px;
    top: 60px;
}
.signform1 input[type="button"]{
    position: relative;
    top:20px;
}
.qqlogin1{
    /*background-color: red;*/
    margin-top: 15px;
}
.qqlogin1 p{
    position: relative;
    top: 20px;
}
.qqlogin1 div{
    position: relative;
    top: 15px;
}

hr{
    position: relative;
    top: 10px;
}

#cover{
    position:fixed;
    -webkit-transition:all 0.2s linear;
    top: 0px;
    left: 0px;
    /*width: 100%;
    height:2796px;
    background-color: #ba7e70;
    top: 0px;
    left: 0px;
    z-index: 29;*/
}

#backtotop{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.7);
    bottom: 50px;
    right: 10px;
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
    display: none;
    z-index: 100;
}
#backtotop:hover{
    background-color: #00c3b6;
}

#backtotop span{
    cursor:pointer;
    line-height:40px;
    font-size:20px;
    color:#ccc;
    text-align: center;
}


/*装载中间内容和页头的那个大的div*/
/*.topAndContent{
    width: 100%;
    !*border: 1px solid red;*!
    min-height:100%;!*这是做的不同浏览器的兼容性，都是表示最小高度，只是写法不同而已
    当div内的内容不够最小高度高的时候，就以最小高度显示div，不够的内容空白补上，超出的内容
    将它撑开，而最大高度刚好相反，超出部分内容被截掉，内容不够高度的时候，就iv就只有内容的高度*!
    _height: 100%;

    !*position: absolute;
    top: 50px;*!
    !*bottom: -400px;*!
    !*height: 100%;*!
    !*background-color: #ba57af;*!
    margin-bottom: -250px;

}*/


.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/*中间内容部分*/
#content{
    width: 100%;
    /*min-height: 100%;
    _height: 100%;*/
    /*height: 700px;*/
    /*height: 50%;*/
    /*background-color: rgba(230, 100, 126, 0.29);*/
    /*height: 360px;*/
    background-color: rgba(241,241,241,1);
   /* background-color: rgba(129, 203, 255, 0.93);*/
    /*height: 350px;*/

    /*position: relative;*/
    /*height: 230px;*/

}

.allcontain{
    /*height: 350px;*/
    background-color: rgba(221, 255, 181, 1);

}
.rowone{
    /*background-color: red;
    line-height: 50px;*/
    /*padding-left: 40px;*/
   /* background-color: red;*/
    height: 35px;
}
.rowone span{
    padding: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.rowone span:hover{
    color: rgba(0,195,182,1);
    text-decoration: underline;
}


@media (max-width: 1230px) {
    .rowone>span:nth-of-type(5){
        visibility: hidden;
        opacity: 0;
    }
}
@media (max-width: 970px) {
    .rowone>span:nth-of-type(4){
        visibility: hidden;
        opacity: 0;
    }
}
@media (max-width: 770px) {
    .rowone>span:nth-of-type(3){
        visibility: hidden;
        opacity: 0;
    }
}
@media (max-width: 540px) {
    .rowone>span:nth-of-type(2){
        visibility: hidden;
        opacity: 0;
    }
}

.slideContain{
    height: 310px;
    /*background-color: red;*/

}
.rowTwo{
    background-color: white;

}
.hiddenMore{
    width: 620px;
    height: 250px;
    /*background-color: yellow;*/
    margin: 25px auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}
.langImgs{
    width: 4340px;
    height: 250px;
}
.switchIcons{
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    left: 43%;
}
.switchIcons>div{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    border: 1px solid rgba(84, 88, 61, 1);
}
.on{
    background-color: white;
}


.preBtn{
    position: absolute;
    left: -30px;
    top: 95px;
    width: 30px;
    line-height: 50px;
    background-color: black;
    color: white;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-size: 30px;
    transition: all 0.2s linear;

}
.nextBtn{
    position: absolute;
    right: -30px;
    top: 95px;
    width: 30px;
    line-height: 50px;
    color: white;
    border-radius: 5px 0 0 5px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    transition: all 0.2s linear;
}
.preBtn:hover, .nextBtn:hover{
    background-color: rgba(0,195,182,1);
}

.hiddenMore:hover .preBtn{
    left: 0px;
}
.hiddenMore:hover .nextBtn{
    right: 0px;
}








.slideRightOne{
    height: 310px;
    /*background-color: yellow;*/
}
.slideRightTwo{
    height: 310px;
    /*background-color: blue;*/
}
.containImg{
    width: 300px;
    height: 250px;
    margin: 25px auto;

}

@media (max-width: 1200px) {
    .slideRightOne>div{
        margin-right: 0%;
    }
    .slideRightTwo>div{
        margin-left: 0%;
    }
}
@media (max-width: 760px) {
    .slideRightOne>div{
        margin: 0px auto;
    }
    .slideRightTwo>div{
        margin: 0px auto;
    }



}
.rowThree{
    padding-top: 30px;

}

.imgdiv1{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}


.uptodown1{
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 0;
    transition: all .2s linear;
    visibility: hidden;

}
.uptodown1>span:nth-of-type(2){
    float: right;
}

.one:hover .uptodown1{
    transition: all .2s linear;
    visibility: visible;
    height: 30px;
    z-index: 100;
}
.one .imgdiv1 img{
    transition: all 0.2s linear;
}
.one:hover .imgdiv1 img{
    /*background-color: yellow;*/
    -webkit-filter:brightness(.5);
    /*margin-top: 5px;*/
    -webkit-transform:translateY(5px);
}

.captions>span:nth-of-type(1){
    float: left;

}
.captions>span:nth-of-type(2),.captions>span:nth-of-type(3){
    float: right;
}

.one{
    margin-bottom: 20px;
    margin-left: 20px;

}

.goto{
    width: 350px;
    height: 40px;
    background-color: rgba(247, 255, 174, 0.93);
    margin: 0 auto;
}
.goto>div{
    float: left;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    margin-right: 3px;
}
.goto>div:nth-of-type(1){
    background-color: rgba(0,195,182,1);
}
.goto>div:nth-of-type(2):hover,.goto>div:nth-of-type(4):hover,.goto>div:nth-of-type(5):hover{
    background-color: rgba(0,195,182,1);
}
.goto>div:nth-of-type(6){
    width: 50px;
}
.enternumber{
    width: 90px;
    border-radius: 6px;
    line-height: 41px;
    float: left;
    text-align: center;
    position: relative;
    background-color: white;
    border: 1px solid #ccc;

}
.enternumber input{
    width: 40px;
    border: none;
    border-radius: 3px;
    text-align: center;

}
.enternumber div{
    float: left;
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 40px;
    background-color: rgba(0,195,182,1);
    border-radius: 3px;
}

.fullpic{
    background: url("../images/fullpicbg.jpg");
    padding: 1%;
}

.wrapImg{
    position: relative;

}
.layers{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
    overflow: hidden;
    visibility: hidden;

}
.uplayer{
    width: 100%;
    text-align: center;
    background-color: rgba(47,203,193,0.6);
    height: 100%;
    font-size: 80px;
    /*bottom: 60px;*/
    position: absolute;
    color: white;
   /* z-index: 200;*/
    top: 0px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.uplayer span{
    margin-top: 15%;
}


.downlayer{
    position: absolute;
    bottom: 0px;
    height: 60px;
    background-color: rgba(5,82,78,0.6);
    width: 100%;
    color: white;
    height: 0px;
    transition: height 0.2s linear;
}

.boxcomments{
    position: absolute;
    right: 0px;

}

.wrapImg:hover .layers{
    visibility: visible;
}
.wrapImg:hover .downlayer{
    height: 60px;
}
.wrapImg:hover .uplayer>span{
    font-size: 40px;
}

.padno{
    padding: 0px;
}

.mybtn{
    background-color: red;
    text-align: center;
    width: 250px;
    margin: 20px auto;
    line-height: 40px;
    border-radius: 20px;
    background-color: rgba(0,195,182,1);
    cursor: pointer;
}
.mybtn span{
    background-color: white;
    color: rgba(0,195,182,1);
    border-radius: 5px;
}

.mybtn:hover{
    background-color: rgba(234,76,137,1);
}
.fourRow{
    background-color: white;
    height: 240px;
}
.threeIcon{
    /*background-color: red;*/
    height: 100%;
    text-align: center;
}
.icon{
    background-color: rgba(0,163,152,1);
    text-align: center;
    width: 80px;
    line-height: 80px;
    border-radius: 40px;
    margin: 0px auto;
    margin-top: 40px;
    color: white;
    font-size: 30px;
}
.threeIcon h3{
    color: rgba(0,195,189,1);
}
.threeIcon p{
    font-size: 10px;
}

.fourdiv{
    width: 100%;
}

@media (min-width: 760px){
    .fourdiv{
        width: 100%;
        padding: 0px;
        margin: 0 auto;
    }
    .fourdiv img{
        width: 100%;
    }




}








#bars{
    position: absolute;
    top: 15px;
    left: 3%;
    color: white;
    visibility: hidden;
    cursor: pointer;
}

#close{
    position: absolute;
    top: 15px;
    left: 3%;
    color: white;
    visibility: hidden;
    cursor: pointer;
}

#jueweilogo{
    position: absolute;
    visibility: hidden;
    left: 47%;
    cursor: pointer;
}

#users{
    position: absolute;
    top: 15px;
    right:3%;
    color: white;
    z-index: 100;
    visibility: hidden;
    cursor: pointer;

}

@media (min-width: 1000px) {/*当大于1000px的时候，就不换行*/
    #bottomContenTwo{
        flex-flow: row nowrap;
    }

}

@media (max-width: 1000px) {/*当小于1000px的时候，就换行*/
    #bottomContenTwo{
        flex-flow: row wrap;
    }
    #bottomContenTwo li:nth-of-type(1){
        width: 100%;
    }
    #bottomContenTwo li:nth-of-type(2){
        width: 100%;
        margin-left: -20px;
        /*height: 400px;*/
    }
    .rightContent{
        width: 98%;
    }


    /*媒体查询，判断导航栏排版*/
    .eights,.logandreg{
        opacity: 0;
        visibility: hidden;
        background-color: rgba(133,133,133,0.8);

    }
    #search{
        opacity: 0;
        visibility: hidden;
    }
    .nav{
        background-color: rgba(3,3,3,0.8);
    }

    #bars,#jueweilogo,#users{
        visibility: visible;
    }

    #footer{
        width: 100%;
        /*height: 300px;*/
        height: 250px;
        background-color: rgba(34,34,34,1);
        overflow: hidden;
        position: relative;
    }
    /*.footer-left,.footer-col{
        opacity: 0;
        visibility: hidden;
    }
    .footercopyright p{
        position: absolute;
        !*margin-top: -32%;*!

    }*/



}

/*当屏幕缩小到620的时候，就要左边那个内容换行*/
@media (max-width: 620px){
    .leftContenBox{
        flex-flow: row wrap;

    }
    .leftContenBox>img,.leftContenBox>div{
        width: 100%;
        display: block;
        height: 180px;

    }
    .leftContenBox>div{
        display: block;
        /*background-color: red;*/
        width: 100%;
        position: relative;

    }
    .leftContent>div {
        position: relative;
        margin-bottom: 140px;
    }
    .leftContent:before,.leftContent:after{
        content:"";
        display: table;
        clear: both;
    }


}




/**页脚部分Footer*/
.footer{
    width:100%;
    height:250px;
    /*height: 30%;*/
    background-color:#222;
    color:#666;
    font-size:12px;
    /*position: relative;
    top: 0px;*/

}

.footer-left{
    width:30%;
    margin-left:5%;
    margin-right:5%;
    float:left;
    margin-top: 3%;
    /*background-color: rgba(85, 233, 78, 0.87);*/
}

.footer-left p{

    line-height:20px;
    letter-spacing:1px;
}

.footer-col{
    float:left;
    margin-right:5%;
    margin-top: 3%;
}

.footer-left h5,.footer-col h5{
    color:#ccc;
    font-size:15px;
    font-weight:normal;
    margin-bottom:3%;
}

.footer-col ul{
    margin:0px;
    padding:0px;
}

.footer-col ul li{
    height:25px;
    list-style:none;
    cursor:pointer;
}

.footer-col ul li:hover{
    text-decoration:underline;
    color:#ddd;
}

.footercopyright{
    width:90%;
    height:15%;
    float:left;
    border-top:1px solid rgba(255,255,2555,.065);
    /*overflow: visible;*/
    /*background-color: yellowgreen;*/
    margin-left: 5%;
    margin-top: 1.5%;
}

.footercopyright p{
    margin-bottom: 1%;
}

.footer-col ul li input[type="text"]{
    width:68%;
    height:26px;
    background-color:#222;
    border:1px solid #333;
    outline:0px;
    color:#666;
    margin-right:1%;
}

.footer-col ul li input[type="button"]{
    width:48px;
    height:30px;
    line-height:30px;
    background-color:#00c3b6;
    color:#ccc;
    border-radius:3px;
    border:0px;
    outline:0px;
    cursor:pointer;
}

.footer-col ul li input[type="button"]:hover{
    text-decoration:none;
    color:white;
}

.footer-share{
    margin-top:20px;
}

.footer-share>span{
    display:inline-block;
    margin-right:3%;
    width:30px;
    height:30px;
    border-radius:3px;
    background-color:#1b1b1b;
    line-height:30px;
    text-align:center;
    font-size:15px;
    color:rgba(255,255,255,0.7);
    cursor:pointer;
    -webkit-transition:all 0.2s ease-in;
}

.footer-share span:nth-child(1):hover{
    background-color:#79ac21;
}

.footer-share span:nth-child(2):hover{
    background-color:#ff664e;
}

.footer-share span:nth-child(3):hover{
    background-color:#e05fef;
}

.footer-share span:nth-child(4):hover{
    background-color:#00c3f4;
}

.footer-share span:nth-child(5):hover{
    background-color:#f39c12;
}

#myname{
    float:right;
    margin-top:-20px;
    cursor:pointer;
    margin-right: 60px;
    -webkit-transition:all 0.8s linear;
}

#myname:hover{
    color:#ea4c89
}

#oye{
    position:relative;
    color:#333;
    font-weight:bold;
    left:83%;
    width:110px;
    height:20px;
    top:-55px;
    padding-left:10px;
    text-align:center;
    background-color:#ea4c89;
    border-radius:20px;
    opacity:0;
    -webkit-transition:all 0.5s ease-out;
    display: block;
}

#oye:after{
    content:"\25BC";
    position:relative;
    top: 12px;
    font-size:14px;
    color:#ea4c89;
    /*position: absolute;
    left: 95px;
    width:80px;
    height:80px;
    z-index: 50;*/
    /*content:"\25BC";
    position:relative;
    width: 400px;
    height: 300px;
    top:10px;
    font-size:14px;
    color:#ea4c89;*/
}

#myname:hover+#oye{
    opacity:1;
    z-index:10;
    width:100px;
    height:20px;
    line-height: 20px;
    /*background-color: yellow;*/
}













